.auth-container{
    background-image: url(assets/images/bg.png);
    background-size: cover;
    background-position: center center;
}
.bg-overlay{
   background: linear-gradient(45deg, rgba(47,140,96,.6), rgba(0,0,0,.99));
}
.primary-color{
color: #4AA35A !important;
}
.color-text{
    color:#49494999 !important
}
.color-text2{
    color: #999999 !important;
}
.w-35 {
  width: 35% !important;
}